@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@700&family=Saira&display=swap');
@import url(small_style.css) screen and (max-width: 920px);
@import url(big_style.css) screen and (min-width: 921px);
@import url(sub_style.css) screen and (min-width: 921px);

*{
    margin: 0;
    padding: 0;
}

h1, h3{
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-style: normal;
}

p{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body{
    background-color: rgb(255, 255, 255);
}

header.odd{
    border-radius: 0px 0px 8px 8px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 80%));
    padding-block: 30px;
    z-index: 1;
    position: sticky;
    top: 0;
}

header.sub{
    border-radius: 0px 0px 8px 8px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 80%));
    background-color: rgb(67, 21, 126);
    margin-bottom: 10px;
    margin-inline: 20px;
    padding-block: 8px;
    z-index: 0;
}

header nav ul{
    list-style: none;
    display: flex;
    padding-left: 2%;
    align-items: center;
}

header nav ul li{
    margin-inline: 10px;
}

header nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header nav ul li.text{
    margin-top: 24px;
}

header nav ul li a:hover{
    color: rgb(21, 201, 102);
    text-decoration: underline;
}

#top_info{
    background-color: rgb(85, 28, 160);
    padding: 5px 10px;
    border-radius: 8px;
}

.odd{
    color: rgb(255, 255, 255);
    background-color: rgb(48, 15, 91);
}

.even{
    color: rgb(255, 255, 255);
    background-color: rgb(37, 163, 28);
}

main article{
    border-radius: 8px;
    margin-block: 40px;
    margin-inline: 10%;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 30%));
}

main article section{
    padding-bottom: 20px;
}

main article section p{
    padding-top: 10px;
    margin-left: 2%;
}

main article section>p{
    color: black;
}

main article section a{
    color: black;
}

main article section a:hover{
    color: rgb(85, 28, 160);;
}

main article section h1{
    border-radius: 8px 8px 0px 0px;
    padding-block: 20px;
    padding-inline: 2%;
    margin-bottom: 10px;
    font-weight: 600;
}

main article section p{
    padding-right: 20px;
}

main article figure{
    margin-right: 1px;
    padding-bottom: 20px;
    margin-inline: 2%;
    display: flex;
}

figure.photo1, figure.photo2{
    display: block;
}

main article figure img{
    flex: 50%;
    max-width: 100%;
    vertical-align: middle;
}

main figure iframe{
    flex: 100%;
}

main aside{
    border-radius: 8px;
    margin-inline: 10%;
    margin-block: 40px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 30%));
}

main aside section ul{
    list-style: none;
    padding-inline: 19px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main aside section ul li{
    max-width: 23%;
    padding-inline: 1%;
    padding-block: 3%;
}

main aside section h1{
    border-radius: 8px 8px 0px 0px;
    padding-block: 10px;
    padding-left: 25px;
    background-color: rgb(68, 63, 63);
    font-weight: 600;
    color: rgb(67, 141, 27);
}

main aside section ul li figure img{
    max-width: 100%;
}

footer{
    border-radius: 8px 8px 0px 0px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 60%));
    padding-left: 15px;
}

footer nav section{
    color: rgb(255, 255, 255);
    display: inline-block;
    padding-inline: 5%;
    padding-top: 10px;
}

footer nav section h3{
    font-weight: 600;
    margin-bottom: 10px;
}

footer nav section#social_media{
    position: relative;
    bottom: 7px;
}

footer nav section#social_media ul li{
    display: inline;
    margin-inline: 10px;
}

footer nav section#social_media ul li a img{
    width: 35px;
}

footer nav section#email{
    position: relative;
    bottom: 25px;
}

footer nav section#email a{
    color: rgb(255, 255, 255);
}

footer nav section#email a:hover{
    color: rgb(67, 49, 169);
}

figcaption{
    position: absolute;
}